# Archivos generados por Visual Studio
.vscode/
*.csproj.user
*.csproj.DotSettings
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de salida
bin/
obj/

# Dependencias y paquetes
*.dll
*.pdb
*.exe
*.nuget
*.log

# Archivos de configuración personal
*.vs/
