USE [master]
GO
/****** Object:  Database [SISTEMAS_GESTION_EVENTOS]    Script Date: 15/10/2024 21:50:30 ******/
CREATE DATABASE [SISTEMAS_GESTION_EVENTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMAS_GESTION_EVENTOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SISTEMAS_GESTION_EVENTOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMAS_GESTION_EVENTOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SISTEMAS_GESTION_EVENTOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMAS_GESTION_EVENTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMAS_GESTION_EVENTOS]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cat_id_category] [int] NOT NULL,
	[cat_name_category] [varchar](50) NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [datetime] NULL,
	[aud_user_update] [datetime] NULL,
	[aud_user_delete] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[mdl_id_module] [int] NOT NULL,
	[mdl_name_module] [varchar](50) NULL,
	[mdl_description_module] [varchar](500) NULL,
	[mdl_url_module] [varchar](500) NULL,
	[mdl_icon_module] [varchar](500) NULL,
	[mdl_order_module] [int] NULL,
	[mdl_visible_module] [bit] NULL,
	[mdl_sub_menu_module] [bit] NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [int] NULL,
	[aud_user_update] [int] NULL,
	[aud_user_delete] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mdl_id_module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Option]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[opt_id_option] [int] NOT NULL,
	[opt_name_option] [varchar](50) NULL,
	[opt_description_option] [varchar](500) NULL,
	[opt_url_option] [varchar](500) NULL,
	[opt_icon_option] [varchar](500) NULL,
	[mdl_id_module] [int] NULL,
	[opt_order_option] [int] NULL,
	[opt_visible_option] [bit] NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [int] NULL,
	[aud_user_update] [int] NULL,
	[aud_user_delete] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[opt_id_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[pfl_id_profile] [int] NOT NULL,
	[pfl_name_profile] [varchar](50) NULL,
	[pfl_description_profile] [varchar](500) NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [int] NULL,
	[aud_user_update] [int] NULL,
	[aud_user_delete] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pfl_id_profile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile_Access]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile_Access](
	[pflacc_id_profile_access] [int] NOT NULL,
	[pfl_id_profile] [int] NULL,
	[mdl_id_module] [int] NULL,
	[opt_id_option] [int] NULL,
	[pflacc_access_view_profile_access] [bit] NULL,
	[pflacc_access_create_profile_access] [bit] NULL,
	[pflacc_access_update_profile_access] [bit] NULL,
	[pflacc_access_delete_profile_access] [bit] NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [datetime] NULL,
	[aud_user_update] [datetime] NULL,
	[aud_user_delete] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[pflacc_id_profile_access] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableDetail]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableDetail](
	[tabdet_id_tbl_detail] [int] NOT NULL,
	[tabhea_id_tbl_headboard] [int] NULL,
	[tabdet_id_detail_tbl_detail] [int] NULL,
	[tabdet_description_tbl_detail] [varchar](50) NULL,
	[tabdet_value_text_1_tbl_detail] [varchar](500) NULL,
	[tabdet_value_text_2_tbl_detail] [varchar](500) NULL,
	[tabdet_value_text_3_tbl_detail] [varchar](500) NULL,
	[tabdet_value_integer_1_tbl_detail] [varchar](100) NULL,
	[tabdet_value_integer_2_tbl_detail] [varchar](100) NULL,
	[tabdet_value_integer_3_tbl_detail] [varchar](100) NULL,
	[tabdet_value_decimal_1_tbl_detail] [decimal](18, 4) NULL,
	[tabdet_value_decimal_2_tbl_detail] [decimal](18, 4) NULL,
	[tabdet_value_decimal_3_tbl_detail] [decimal](18, 4) NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [datetime] NULL,
	[aud_user_update] [datetime] NULL,
	[aud_user_delete] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tabdet_id_tbl_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableHeadboard]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableHeadboard](
	[tabhea_id_tbl_headboard] [int] NOT NULL,
	[tabhea_description_tbl_headboard] [varchar](50) NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [datetime] NULL,
	[aud_user_update] [datetime] NULL,
	[aud_user_delete] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tabhea_id_tbl_headboard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[usua_id_user] [int] NOT NULL,
	[usua_code_user] [varchar](50) NULL,
	[usua_first_name_user] [varchar](50) NULL,
	[usua_last_name_user] [varchar](50) NULL,
	[pfl_id_profile] [int] NULL,
	[usua_email_user] [varchar](50) NULL,
	[usua_password_user] [varchar](255) NULL,
	[usua_type_document_user] [varchar](8) NULL,
	[usua_number_document_user] [varchar](8) NULL,
	[usua_phone_user] [varchar](60) NULL,
	[usua_id_address_user] [int] NULL,
	[usua_address_user] [varchar](255) NULL,
	[usua_number_attempts_user] [int] NULL,
	[aud_state_record] [int] NULL,
	[aud_date_create] [datetime] NULL,
	[aud_date_update] [datetime] NULL,
	[aud_date_delete] [datetime] NULL,
	[aud_user_create] [datetime] NULL,
	[aud_user_update] [datetime] NULL,
	[aud_user_delete] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[usua_id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Module] ([mdl_id_module], [mdl_name_module], [mdl_description_module], [mdl_url_module], [mdl_icon_module], [mdl_order_module], [mdl_visible_module], [mdl_sub_menu_module], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (1, N'Administración', N'Administración', N'/Administration', N'credit-card', 2, 1, 1, 1, NULL, CAST(N'2024-09-02T20:38:32.733' AS DateTime), NULL, NULL, 1, NULL)
INSERT [dbo].[Module] ([mdl_id_module], [mdl_name_module], [mdl_description_module], [mdl_url_module], [mdl_icon_module], [mdl_order_module], [mdl_visible_module], [mdl_sub_menu_module], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (2, N'Maestras', N'Tablas Maestra', N'/Masters', N'briefcase', 3, 1, 1, 1, NULL, CAST(N'2024-09-02T20:38:41.127' AS DateTime), NULL, NULL, 1, NULL)
INSERT [dbo].[Module] ([mdl_id_module], [mdl_name_module], [mdl_description_module], [mdl_url_module], [mdl_icon_module], [mdl_order_module], [mdl_visible_module], [mdl_sub_menu_module], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (3, N'Inicio', N'Inicio', N'/inicio', N'microsoft', 1, 1, 0, 1, CAST(N'2024-09-02T19:23:25.580' AS DateTime), CAST(N'2024-09-02T20:39:02.557' AS DateTime), NULL, 1, 1, NULL)
GO
INSERT [dbo].[Option] ([opt_id_option], [opt_name_option], [opt_description_option], [opt_url_option], [opt_icon_option], [mdl_id_module], [opt_order_option], [opt_visible_option], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (1, N'Usuarios', N'Usuarios', N'/Users', N'user', 1, 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Option] ([opt_id_option], [opt_name_option], [opt_description_option], [opt_url_option], [opt_icon_option], [mdl_id_module], [opt_order_option], [opt_visible_option], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (2, N'Perfiles', N'Perfiles', N'/Profiles', N'building', 1, 2, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Option] ([opt_id_option], [opt_name_option], [opt_description_option], [opt_url_option], [opt_icon_option], [mdl_id_module], [opt_order_option], [opt_visible_option], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (3, N'Tablas Auxiliares', N'Tablas Auxiliares', N'/Axiliary-Tables', N'table', 1, 3, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Profile] ([pfl_id_profile], [pfl_name_profile], [pfl_description_profile], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (1, N'CREADOR DEL SISTEMA', N'CREADOR DEL SISTEMA', 1, NULL, CAST(N'2024-09-09T20:33:29.813' AS DateTime), NULL, NULL, 1, NULL)
INSERT [dbo].[Profile] ([pfl_id_profile], [pfl_name_profile], [pfl_description_profile], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (2, N'Cliente', N'Cliente', 1, CAST(N'2024-09-02T19:01:26.020' AS DateTime), CAST(N'2024-09-02T20:57:03.807' AS DateTime), CAST(N'2024-09-02T19:01:29.273' AS DateTime), 1, 1, 1)
GO
INSERT [dbo].[Profile_Access] ([pflacc_id_profile_access], [pfl_id_profile], [mdl_id_module], [opt_id_option], [pflacc_access_view_profile_access], [pflacc_access_create_profile_access], [pflacc_access_update_profile_access], [pflacc_access_delete_profile_access], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, NULL, CAST(N'2024-08-20T02:21:47.017' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Profile_Access] ([pflacc_id_profile_access], [pfl_id_profile], [mdl_id_module], [opt_id_option], [pflacc_access_view_profile_access], [pflacc_access_create_profile_access], [pflacc_access_update_profile_access], [pflacc_access_delete_profile_access], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (2, 1, 1, 2, 1, 1, 1, 1, 1, NULL, CAST(N'2024-08-20T02:21:47.027' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Profile_Access] ([pflacc_id_profile_access], [pfl_id_profile], [mdl_id_module], [opt_id_option], [pflacc_access_view_profile_access], [pflacc_access_create_profile_access], [pflacc_access_update_profile_access], [pflacc_access_delete_profile_access], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (3, 1, 1, 3, 1, 1, 1, 1, 1, CAST(N'2024-08-20T02:21:47.033' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TableHeadboard] ([tabhea_id_tbl_headboard], [tabhea_description_tbl_headboard], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (1, N'Estados Registros', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TableHeadboard] ([tabhea_id_tbl_headboard], [tabhea_description_tbl_headboard], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (2, N'Tipos de Documento', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TableHeadboard] ([tabhea_id_tbl_headboard], [tabhea_description_tbl_headboard], [aud_state_record], [aud_date_create], [aud_date_update], [aud_date_delete], [aud_user_create], [aud_user_update], [aud_user_delete]) VALUES (3, N'Meses del Año', 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[Module] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[Option] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[Profile] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[Profile_Access] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[TableDetail] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[TableHeadboard] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [aud_state_record]
GO
/****** Object:  StoredProcedure [dbo].[SP_MODULE_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_MODULE_DELETE]
	-- Add the parameters for the stored procedure here
	(
		@p_iid_module int, 
		@p_iuser_aud int =-1
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	  UPDATE   [dbo].[Module]
		SET
		aud_state_record = 0,
		aud_user_delete=@p_iuser_aud,
		aud_date_delete=GETDATE()  
		WHERE 
		mdl_id_module = @p_iid_module

		SELECT @p_iid_module as iid_module;		   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MODULE_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODULE_LIST] 
	-- Add the parameters for the stored procedure here
	(
		@p_iid_module int, 
		@p_vdescription_module varchar(500),
		@p_vname_module varchar(500),

		@p_istate_record int =-1,
		@p_index int,      
		@p_limit int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	mdl.mdl_id_module iid_module,
	mdl.mdl_name_module vname_module,
	mdl.mdl_description_module vdescription_module,
	mdl.mdl_url_module vurl_module,
	mdl.mdl_icon_module vicon_module,
	mdl.mdl_order_module iorder_module,
	mdl.mdl_visible_module bvisible_module,
	mdl.mdl_sub_menu_module bsub_menu_module,
	mdl.aud_state_record istate_record,	
	t1.tabdet_value_text_1_tbl_detail vstate_record ,
	count(mdl.mdl_id_module) OVER () AS itotal_record	
	FROM [dbo].[Module] mdl
	left join [dbo].[TableDetail] t1 on t1.tabdet_id_detail_tbl_detail = mdl.aud_state_record and t1.tabhea_id_tbl_headboard = 1 --State Record
	WHERE
	(ISNULL(@p_iid_module,-1) = -1 OR mdl.mdl_id_module = @p_iid_module )
	AND (ISNULL(@p_vdescription_module,'')='' OR mdl.mdl_description_module like CONCAT('%', @p_vdescription_module,'%') )
	AND (ISNULL(@p_vname_module,'')='' OR mdl.mdl_name_module like CONCAT('%', @p_vname_module,'%') )
	AND (ISNULL(@p_istate_record,-1) = -1 OR mdl.aud_state_record = @p_istate_record )
	AND mdl.aud_state_record IN(1,2)

	ORDER BY mdl.mdl_order_module asc  OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MODULE_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MODULE_REGISTER_UPDATE]  
	-- Add the parameters for the stored procedure here
	(
		@p_iid_module int, 
		@p_vname_module varchar(500),
		@p_vdescription_module varchar(500),
		@p_vurl_module varchar(500),
		@p_vicon_module varchar(500),
		@p_iorder_module int =-1,
		@p_bvisible_module BIT,
		@p_bsub_menu_module BIT ,

		@p_istate_record int =-1,
		@p_iuser_aud int =-1

	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	IF(@p_iid_module = 0)
		BEGIN
			SET @p_iid_module = (SELECT ISNULL(MAX(m.mdl_id_module),0) from Module m) + 1;

			INSERT INTO Module
			(
			mdl_id_module, 
			mdl_name_module, 
			mdl_description_module, 
			mdl_url_module, 
			mdl_icon_module, 
			mdl_order_module,
			mdl_visible_module,
			mdl_sub_menu_module,
			aud_state_record, 
			aud_date_create, 
			aud_user_create
			)
		VALUES
		(
			@p_iid_module,
			@p_vname_module,
			@p_vdescription_module,
			@p_vurl_module,
			@p_vicon_module,
			@p_iorder_module,
			@p_bvisible_module ,
			@p_bsub_menu_module,

			@p_istate_record,
			GETDATE(),
			@p_iuser_aud
		)
		END
	ELSE
		BEGIN
			UPDATE Module
			SET
			mdl_name_module = @p_vname_module,
			mdl_description_module =   @p_vdescription_module,
			mdl_url_module = @p_vurl_module,
			mdl_icon_module = @p_vicon_module,
			mdl_order_module = @p_iorder_module,
			mdl_visible_module = @p_bvisible_module,
			mdl_sub_menu_module =@p_bsub_menu_module,			 
			aud_state_record = @p_istate_record,
			aud_date_update = GETDATE(),
			aud_user_update =@p_iuser_aud
			WHERE
			mdl_id_module = @p_iid_module
		END

SELECT @p_iid_module as iid_module

END
GO
/****** Object:  StoredProcedure [dbo].[SP_OPTION_BY_MODULE_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_OPTION_BY_MODULE_LIST]  
	-- Add the parameters for the stored procedure here
(
		@p_iid_option int, 
		@p_iid_module int,
		@p_vname_module varchar(500),
		@p_vdescription_module varchar(500),
		@p_vname_option varchar(500),
		@p_vdescription_option varchar(500),

		@p_istate_record int =-1,
		@p_index int,      
		@p_limit int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT 
		opt.mdl_id_module iid_module,
		m.mdl_name_module vname_module,
		m.mdl_description_module vdescription_module,
		m.mdl_order_module iorder_module,
		opt.opt_id_option iid_option,
		opt.opt_name_option vname_option, 
		opt.opt_description_option vdescription_option,
		opt.opt_order_option iorder_option,
		count(opt.opt_id_option) OVER () AS itotal_record	
		FROM [Option] opt
		LEFT JOIN [dbo].[Module]  m ON m.mdl_id_module = opt.mdl_id_module 
		WHERE	
			(ISNULL(@p_iid_option,-1) = -1 OR opt.opt_id_option = @p_iid_option )
		AND (ISNULL(@p_iid_module,-1) = -1 OR opt.mdl_id_module = @p_iid_module )

		AND (ISNULL(@p_vname_module,'')='' OR m.mdl_name_module like CONCAT('%', @p_vname_module,'%') ) 
		AND (ISNULL(@p_vdescription_module,'')='' OR m.mdl_description_module like CONCAT('%', @p_vdescription_module,'%') )

		AND (ISNULL(@p_vdescription_option,'')='' OR opt.opt_description_option like CONCAT('%', @p_vdescription_option,'%') )
		AND (ISNULL(@p_vname_option,'')='' OR opt.opt_description_option like CONCAT('%', @p_vname_option,'%') ) 
		AND (ISNULL(@p_istate_record,-1) = -1 OR opt.aud_state_record = @p_istate_record )
		AND opt.aud_state_record IN(1,2)
	
		ORDER BY m.mdl_order_module ASC,opt.opt_order_option asc OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OPTION_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[SP_OPTION_DELETE]
	-- Add the parameters for the stored procedure here
	(
		@p_iid_option int, 
		@p_iuser_aud int =-1
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	  UPDATE   [dbo].[Option]
		SET
		aud_state_record = 0,
		aud_user_delete=@p_iuser_aud,
		aud_date_delete=GETDATE()  
		WHERE 
		opt_id_option = @p_iid_option

		SELECT @p_iid_option as iid_option;		   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OPTION_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_OPTION_LIST] 
	-- Add the parameters for the stored procedure here
	(
		@p_iid_option int, 
		@p_iid_module int,
		@p_vdescription_option varchar(500),
		@p_vname_option varchar(500),

		@p_istate_record int =-1,
		@p_index int,      
		@p_limit int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
	opt.opt_id_option iid_option,
	opt.opt_name_option vname_option, 
	opt.opt_description_option vdescription_option,
	opt.opt_url_option vurl_option, 
	opt.opt_icon_option vicon_option, 
	opt.mdl_id_module iid_module,
	opt.opt_visible_option bvisible_option,
	opt.opt_order_option iorder_option,
	opt.aud_state_record istate_record,
	t1.tabdet_value_text_1_tbl_detail vstate_record ,
	count(opt.opt_id_option) OVER () AS itotal_record	
	FROM [Option] opt
	left join [dbo].[TableDetail] t1 on t1.tabdet_id_detail_tbl_detail = opt.aud_state_record and t1.tabhea_id_tbl_headboard = 1 --State Record
	WHERE	
	    (ISNULL(@p_iid_option,-1) = -1 OR opt.opt_id_option = @p_iid_option )
	AND (ISNULL(@p_iid_module,-1) = -1 OR opt.mdl_id_module = @p_iid_module )
	AND (ISNULL(@p_vdescription_option,'')='' OR opt.opt_description_option like CONCAT('%', @p_vdescription_option,'%') )
	AND (ISNULL(@p_vname_option,'')='' OR opt.opt_description_option like CONCAT('%', @p_vname_option,'%') ) 
	AND (ISNULL(@p_istate_record,-1) = -1 OR opt.aud_state_record = @p_istate_record )
	AND opt.aud_state_record IN(1,2)
	
	ORDER BY opt.mdl_id_module ASC,opt.opt_order_option asc OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  

END
GO
/****** Object:  StoredProcedure [dbo].[SP_OPTION_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OPTION_REGISTER_UPDATE] 
	-- Add the parameters for the stored procedure here
(
		@p_iid_option int, 
		@p_iid_module int,
		@p_vdescription_option varchar(500),
		@p_vname_option varchar(500),
		@p_vurl_option varchar(500),
		@p_vicon_option varchar(500),
		@p_iorder_option int,
		@p_bvisible_option BIT,

		@p_istate_record int =-1,
		@p_iuser_aud int =-1

)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@p_iid_option = 0)
	BEGIN
		SET @p_iid_option = (SELECT ISNULL(MAX(o.opt_id_option),0) FROM [Option] o )+1;
		SET @p_iorder_option = (SELECT ISNULL(MAX(o.opt_order_option),0) FROM [Option] o WHERE o.mdl_id_module = @p_iid_module) + 1

		INSERT INTO [Option](
		opt_id_option, 
		opt_name_option, 
		opt_description_option, 
		opt_url_option, 
		opt_icon_option, 
		mdl_id_module, 
		opt_order_option, 

		opt_visible_option, 
		aud_state_record, 
		aud_date_create, 
		aud_user_create
		)
		VALUES(
		@p_iid_option , 
		@p_vname_option ,
		@p_vdescription_option ,
		@p_vurl_option ,
		@p_vicon_option ,
		@p_iid_module ,
		@p_iorder_option ,
		@p_bvisible_option,
		@p_istate_record ,
		GETDATE(),
		@p_iuser_aud
		)
		
	END
	ELSE
	BEGIN
		UPDATE [Option]
		SET
		opt_name_option			= @p_vname_option ,	 
		opt_description_option	= @p_vdescription_option , 
		opt_url_option			= @p_vurl_option ,	 
		opt_icon_option			= @p_vicon_option , 
		mdl_id_module			= @p_iid_module , 
		opt_order_option		= @p_iorder_option , 
		opt_visible_option		= @p_bvisible_option ,	 
		aud_state_record		= @p_istate_record , 
		aud_date_update			= GETDATE() ,
		aud_user_update			= @p_iuser_aud
		WHERE 
		opt_id_option = @p_iid_option
	END

SELECT @p_iid_option  AS iid_option

END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_ACCESS_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROFILE_ACCESS_DELETE] 
	-- Add the parameters for the stored procedure here
	(
	 		@p_iid_profile_access int,
			@p_iuser_aud int =-1
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		UPDATE [dbo].[Profile_Access]
		SET
		aud_state_record = 0,
		aud_date_delete = GETDATE(),
		aud_user_delete = @p_iuser_aud
		WHERE 
		pflacc_id_profile_access = @p_iid_profile_access

	
	SELECT @p_iid_profile_access AS iid_profile_access
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_ACCESS_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PROFILE_ACCESS_LIST] 
	-- Add the parameters for the stored procedure here
	(	
		--@p_iid_profile_access int =-1,
		@p_iid_profile int =-1,
		--@p_iid_module int =-1,
		--@p_iid_option int =-1,
		--@p_baccess_view BIT,
		--@p_baccess_create BIT,
		--@p_baccess_update BIT,
		--@p_baccess_delete BIT,
		--@p_istate_record int =-1,

		@p_index int,      
		@p_limit int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


DECLARE @p_tmpTable AS TABLE (
    id INT IDENTITY (1,1), 
    iid_profile_access INT DEFAULT (0),
    iid_module INT,
    vname_module VARCHAR(50),
    vdescription_module VARCHAR(500),
    iorder_module INT,
	vicon_module VARCHAR(500),
	vurl_module VARCHAR(500),
    iid_option INT,
    vname_option VARCHAR(50),
    vdescription_option VARCHAR(500),
    iorder_option INT,
	vicon_option VARCHAR(500),
	vurl_option VARCHAR(500),
	bsub_menu_module BIT,
    baccess_view BIT,
    baccess_create BIT,
    baccess_update BIT,
    baccess_delete BIT,
    iid_profile INT,
    vcode_profile VARCHAR(50),
    vname_profile VARCHAR(50),
    vdescription_profile VARCHAR(500),
    istate_record INT,
    vstate_record VARCHAR(500)
	);

-- Insertar filas de Option
INSERT INTO @p_tmpTable (
    iid_module, 
    vname_module, 
    vdescription_module,
    iorder_module,
	vicon_module,
	vurl_module,
    iid_option, 
    vname_option, 
    vdescription_option,
    iorder_option,
	vicon_option,
	vurl_option,
    iid_profile,
    vname_profile,
    baccess_create,
    baccess_update,
    baccess_delete,
    baccess_view,
	bsub_menu_module
)
SELECT 
    m.mdl_id_module AS iid_module,
    m.mdl_name_module AS vname_module,
    m.mdl_description_module AS vdescription_module,
    m.mdl_order_module AS iorder_module,
	m.mdl_icon_module AS vicon_module,
	m.mdl_url_module AS vurl_module,
    opt.opt_id_option AS iid_option,
    opt.opt_name_option AS vname_option, 
    opt.opt_description_option AS vdescription_option,
    opt.opt_order_option AS iorder_option,
	opt.opt_icon_option AS vicon_option, 
	opt.opt_url_option AS vurl_option,
    0 AS iid_profile, -- Valor predeterminado para las filas faltantes
    '' AS vname_profile, -- Valor predeterminado para las filas faltantes
    CAST(0 AS BIT) AS baccess_create, -- Valor predeterminado para las filas faltantes
    CAST(0 AS BIT) AS baccess_update, -- Valor predeterminado para las filas faltantes
    CAST(0 AS BIT) AS baccess_delete, -- Valor predeterminado para las filas faltantes
    CAST(0 AS BIT) AS baccess_view , -- Valor predeterminado para las filas faltantes	
	CAST(m.mdl_sub_menu_module AS BIT) AS bsub_menu_module -- Valor predeterminado para las filas faltantes	
FROM [dbo].[Module] m
INNER JOIN [dbo].[Option] opt ON opt.mdl_id_module = m.mdl_id_module AND opt.aud_state_record = 1 AND opt.opt_visible_option NOT IN(0);


-- Actualizar filas con información de Profile_Access si está disponible
UPDATE t
SET 
    iid_profile_access = pfla.pflacc_id_profile_access,
    vname_profile = pfl.pfl_name_profile,
    baccess_create = CAST(pfla.pflacc_access_create_profile_access AS BIT),
    baccess_update = CAST(pfla.pflacc_access_update_profile_access AS BIT),
    baccess_delete = CAST(pfla.pflacc_access_delete_profile_access AS BIT),
    baccess_view = CAST(pfla.pflacc_access_view_profile_access AS BIT)
FROM @p_tmpTable t
LEFT JOIN [dbo].[Profile_Access] pfla ON t.iid_module = pfla.mdl_id_module AND t.iid_option = pfla.opt_id_option
LEFT JOIN [dbo].[Profile] pfl ON pfl.pfl_id_profile = pfla.pfl_id_profile
WHERE 
     T.iid_option =  pfla.opt_id_option AND pfl.pfl_id_profile = @p_iid_profile;

-- Seleccionar todas las filas de la tabla temporal
SELECT *,COUNT(id) OVER () AS itotal_record  
FROM @p_tmpTable
ORDER BY iorder_module ASC,iid_option asc;
 

END

GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_ACCESS_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PROFILE_ACCESS_REGISTER_UPDATE] 
	-- Add the parameters for the stored procedure here
	(
	@p_iid_profile_access int =-1,
	@p_iid_profile int =-1,
	@p_iid_module int =-1,
	@p_iid_option int =-1,
	@p_baccess_view BIT,
	@p_baccess_create BIT,
	@p_baccess_update BIT,
	@p_baccess_delete BIT,
	@p_istate_record int =-1,
	@p_iuser_aud int =-1
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@p_iid_profile_access = 0)
	BEGIN
		SET @p_iid_profile_access = (SELECT ISNULL(MAX(pa.pflacc_id_profile_access),0) FROM Profile_Access pa) + 1;

		INSERT INTO [dbo].[Profile_Access](
		pflacc_id_profile_access,
		pfl_id_profile, 
		mdl_id_module, 
		opt_id_option, 
		pflacc_access_view_profile_access, 
		pflacc_access_create_profile_access, 
		pflacc_access_update_profile_access,
		pflacc_access_delete_profile_access, 
		aud_state_record, 
		aud_date_create, 
		aud_user_create
		)	
		VALUES(
			@p_iid_profile_access ,
			@p_iid_profile ,
			@p_iid_module ,
			@p_iid_option ,
			@p_baccess_view ,
			@p_baccess_create ,
			@p_baccess_update ,
			@p_baccess_delete ,
			@p_istate_record ,
			GETDATE(),
			@p_iuser_aud 
		)
	END
	ELSE
	BEGIN
		UPDATE [dbo].[Profile_Access]
		SET
			pflacc_id_profile_access			= @p_iid_profile_access,
			pfl_id_profile						= @p_iid_profile,
			mdl_id_module						= @p_iid_module,
			opt_id_option						= @p_iid_option,
			pflacc_access_view_profile_access	= @p_baccess_view,
			pflacc_access_create_profile_access = @p_baccess_create,
			pflacc_access_update_profile_access = @p_baccess_update,
			pflacc_access_delete_profile_access = @p_baccess_delete,
			aud_state_record					= @p_istate_record,
			aud_date_update						= GETDATE(),
			aud_user_update						= @p_iuser_aud
		WHERE
		pflacc_id_profile_access = @p_iid_profile_access

	END

	SELECT @p_iid_profile_access AS iid_profile_access
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROFILE_DELETE] 
	-- Add the parameters for the stored procedure here
	(
	 		@p_iid_profile int,
			@p_iuser_aud int =-1
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		UPDATE [dbo].[Profile]
		SET
		aud_state_record = 0,
		aud_date_delete = GETDATE(),
		aud_user_delete = @p_iuser_aud
		WHERE 
		pfl_id_profile = @p_iid_profile

	
	SELECT @p_iid_profile AS iid_profile
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROFILE_LIST] 
	-- Add the parameters for the stored procedure here
	(	
		@p_iid_profile int, 
		@p_vname_profile varchar(500),
		@p_vdescription_profile varchar(500),
		@p_istate_record int =-1,

		@p_index int,      
		@p_limit int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	pfl.pfl_id_profile AS iid_profile, 
	pfl.pfl_name_profile AS vname_profile,
	pfl.pfl_description_profile AS vdescription_profile,
	pfl.aud_state_record AS istate_record,
	t1.tabdet_value_text_1_tbl_detail vstate_record ,
	count(pfl.pfl_id_profile) OVER () AS itotal_record
	FROM [dbo].[Profile] pfl
	left join [dbo].[TableDetail] t1 on t1.tabdet_id_detail_tbl_detail = pfl.aud_state_record and t1.tabhea_id_tbl_headboard = 1 --State Record
	WHERE
	(ISNULL(@p_iid_profile,-1) = -1 OR pfl.pfl_id_profile = @p_iid_profile )
	AND (ISNULL(@p_vdescription_profile,'')='' OR pfl.pfl_description_profile like CONCAT('%', @p_vdescription_profile,'%') )
	AND (ISNULL(@p_vname_profile,'')='' OR pfl.pfl_name_profile like CONCAT('%', @p_vname_profile,'%') )
	AND (ISNULL(@p_istate_record,-1) = -1 OR pfl.aud_state_record = @p_istate_record )
	AND pfl.aud_state_record IN(1,2)

	ORDER BY pfl.pfl_id_profile asc  OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROFILE_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PROFILE_REGISTER_UPDATE] 
	-- Add the parameters for the stored procedure here
	(
		@p_iid_profile int, 
		@p_vname_profile varchar(500),
		@p_vdescription_profile varchar(500),
		@p_istate_record int =-1,
		@p_iuser_aud int =-1		
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@p_iid_profile = 0)
	BEGIN
		SET @p_iid_profile = (SELECT ISNULL(MAX(p.pfl_id_profile),0) FROM Profile p) + 1;

		INSERT INTO [dbo].[Profile](
			pfl_id_profile,
			pfl_name_profile,
			pfl_description_profile,
			aud_state_record,
			aud_date_create,
			aud_user_create
		)
		VALUES(
		@p_iid_profile , 
		@p_vname_profile ,
		@p_vdescription_profile ,
		@p_istate_record ,
		GETDATE(),
		@p_iuser_aud 
		)
	END
	ELSE
	BEGIN
		UPDATE [dbo].[Profile]
		SET
		pfl_name_profile = @p_vname_profile,
		pfl_description_profile = @p_vdescription_profile,
		aud_state_record = @p_istate_record,
		aud_date_update = GETDATE(),
		aud_user_update = @p_iuser_aud
		WHERE 
		pfl_id_profile = @p_iid_profile

	END

	SELECT @p_iid_profile AS iid_profile

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_DETAIL_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROCEDURE [dbo].[SP_TABLE_DETAIL_DELETE]
		-- Add the parameters for the stored procedure here
	(
		@p_iid_table_detail int, 
		@p_iuser_aud int =-1
	)
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;
	
	  UPDATE   [dbo].[TableDetail]
		SET
		aud_state_record = 0,
		aud_user_delete=@p_iuser_aud,
		aud_date_delete=GETDATE()  
		WHERE 
		tabdet_id_tbl_detail = @p_iid_table_detail

		SELECT @p_iid_table_detail as iid_table_detail;		   
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_DETAIL_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_TABLE_DETAIL_LIST]
(
	@p_iid_table_detail int, 
	@p_iid_table_headboard int,
	@p_iid_detail int, 
	@p_vdescription varchar(500),

	@p_vvalue_text_1 varchar(500),
	@p_vvalue_text_2 varchar(500),
	@p_vvalue_text_3 varchar(500),

	@p_vvalue_integer_1 int,
	@p_vvalue_integer_2 int,
	@p_vvalue_integer_3 int,

	@p_vvalue_decimal_1 decimal(18,4),
	@p_vvalue_decimal_2 decimal(18,4),
	@p_vvalue_decimal_3 decimal(18,4),
		
	@p_istate_record int =-1,
	@p_index int,      
	@p_limit int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT 
		tbld.tabdet_id_tbl_detail iid_table_detail,
		tbld.tabhea_id_tbl_headboard iid_table_headboard,
		tbld.tabdet_id_detail_tbl_detail iid_detail, 
		tbld.tabdet_description_tbl_detail	 vdescription,

		tbld.tabdet_value_text_1_tbl_detail vvalue_text_1,
		tbld.tabdet_value_text_2_tbl_detail vvalue_text_2,
		tbld.tabdet_value_text_3_tbl_detail vvalue_text_3,

		tbld.tabdet_value_integer_1_tbl_detail	vvalue_integer_1,
		tbld.tabdet_value_integer_2_tbl_detail	vvalue_integer_2,
		tbld.tabdet_value_integer_3_tbl_detail	vvalue_integer_3,

		tbld.tabdet_value_decimal_1_tbl_detail vvalue_decimal_1,
		tbld.tabdet_value_decimal_2_tbl_detail vvalue_decimal_2,
		tbld.tabdet_value_decimal_3_tbl_detail vvalue_decimal_3,

		tbld.aud_state_record istate_record,	
		t1.tabdet_value_text_1_tbl_detail vstate_record ,
		count(tbld.tabdet_id_tbl_detail) OVER () AS itotal_record	
	FROM  [dbo].[TableDetail] tbld
	left join [dbo].[TableDetail] t1 on t1.tabdet_id_detail_tbl_detail = tbld.aud_state_record and t1.tabhea_id_tbl_headboard = 1 --State Record
	WHERE
	(ISNULL(@p_iid_table_detail,-1) = -1 OR tbld.tabdet_id_tbl_detail = @p_iid_table_detail )	
	AND (ISNULL(@p_iid_table_headboard,-1) = -1 OR tbld.tabhea_id_tbl_headboard = @p_iid_table_headboard )	
	AND (ISNULL(@p_iid_detail,-1) = -1  OR tbld.tabdet_id_detail_tbl_detail = @p_iid_detail )	

	AND (ISNULL(@p_vdescription,'')='' OR tbld.tabdet_description_tbl_detail like CONCAT('%', @p_vdescription,'%') )

	AND (ISNULL(@p_vvalue_text_1,'')='' OR tbld.tabdet_value_text_1_tbl_detail like CONCAT('%', @p_vvalue_text_1,'%') )
	AND (ISNULL(@p_vvalue_text_2,'')='' OR tbld.tabdet_value_text_2_tbl_detail like CONCAT('%', @p_vvalue_text_2,'%') )
	AND (ISNULL(@p_vvalue_text_3,'')='' OR tbld.tabdet_value_text_3_tbl_detail like CONCAT('%', @p_vvalue_text_3,'%') )

	AND (ISNULL(@p_vvalue_integer_1,-1) = -1 OR tbld.tabdet_value_integer_1_tbl_detail = @p_vvalue_integer_1 )	
	AND (ISNULL(@p_vvalue_integer_2,-1) = -1 OR tbld.tabdet_value_integer_2_tbl_detail = @p_vvalue_integer_2 )	
	AND (ISNULL(@p_vvalue_integer_3,-1) = -1 OR tbld.tabdet_value_integer_3_tbl_detail = @p_vvalue_integer_3 )	

	AND (ISNULL(@p_vvalue_decimal_1,-1) = -1 OR tbld.tabdet_value_decimal_1_tbl_detail = @p_vvalue_decimal_1 )	
	AND (ISNULL(@p_vvalue_decimal_2,-1) = -1 OR tbld.tabdet_value_decimal_2_tbl_detail = @p_vvalue_decimal_2 )	
	AND (ISNULL(@p_vvalue_decimal_3,-1) = -1 OR tbld.tabdet_value_decimal_3_tbl_detail = @p_vvalue_decimal_3 )	
		
	AND (ISNULL(@p_istate_record,-1) = -1 OR tbld.aud_state_record = @p_istate_record )
	and tbld.aud_state_record IN(1,2)

	ORDER BY tbld.tabdet_id_tbl_detail asc  OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_DETAIL_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[SP_TABLE_DETAIL_REGISTER_UPDATE]
		-- Add the parameters for the stored procedure here
	(
	@p_iid_table_headboard int,
	@p_iid_table_detail int, 
	@p_vdescription varchar(500),

	@p_vvalue_text_1 varchar(500),
	@p_vvalue_text_2 varchar(500),
	@p_vvalue_text_3 varchar(500),

	@p_vvalue_integer_1 int,
	@p_vvalue_integer_2 int,
	@p_vvalue_integer_3 int,

	@p_vvalue_decimal_1 decimal(18,4),
	@p_vvalue_decimal_2 decimal(18,4),
	@p_vvalue_decimal_3 decimal(18,4),

	@p_istate_record int =-1,
	@p_iuser_aud int =-1
	)
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;


	IF(@p_iid_table_detail =0)
	BEGIN
	

		set @p_iid_table_detail = (SELECT ISNULL(MAX(td.tabdet_id_tbl_detail),0) FROM [dbo].[TableDetail] td) + 1;
		declare @v_last_iid_detail int = (  SELECT ISNULL(MAX(td.tabdet_id_detail_tbl_detail),0) 
													FROM [dbo].[TableDetail] td
													WHERE
													td.tabhea_id_tbl_headboard = @p_iid_table_headboard) + 1;


		INSERT INTO [dbo].[TableDetail]
		(
			tabdet_id_tbl_detail,
			tabhea_id_tbl_headboard,
			tabdet_id_detail_tbl_detail,
			tabdet_description_tbl_detail,

			tabdet_value_text_1_tbl_detail,
			tabdet_value_text_2_tbl_detail,
			tabdet_value_text_3_tbl_detail,

			tabdet_value_integer_1_tbl_detail,
			tabdet_value_integer_2_tbl_detail,
			tabdet_value_integer_3_tbl_detail,

			tabdet_value_decimal_1_tbl_detail,
			tabdet_value_decimal_2_tbl_detail,
			tabdet_value_decimal_3_tbl_detail,

			aud_state_record,
			aud_date_create,
			aud_user_create		
		)
		VALUES 
		(
			@p_iid_table_detail,
			@p_iid_table_headboard ,
			@v_last_iid_detail , 
			@p_vdescription,

			@p_vvalue_text_1 ,
			@p_vvalue_text_2 ,
			@p_vvalue_text_3 ,

			@p_vvalue_integer_1 ,
			@p_vvalue_integer_2 ,
			@p_vvalue_integer_3 ,

			@p_vvalue_decimal_1 ,
			@p_vvalue_decimal_2 ,
			@p_vvalue_decimal_3 ,

			ISNULL(@p_istate_record,1) ,
			GETDATE(),
			@p_iuser_aud 
			)
				
		END

	ELSE
	BEGIN

	--set @v_vcode  = (SELECT u.tabhea_code FROM [dbo].[TableHeadboard] u WHERE u.tabhea_id = @p_iid_table_headboard)

		UPDATE   [dbo].[TableDetail]
		SET
		tabdet_description_tbl_detail = @p_vdescription,

		tabdet_value_text_1_tbl_detail = @p_vvalue_text_1,
		tabdet_value_text_2_tbl_detail = @p_vvalue_text_2,
		tabdet_value_text_3_tbl_detail = @p_vvalue_text_3,

		tabdet_value_integer_1_tbl_detail = @p_vvalue_integer_1,
		tabdet_value_integer_2_tbl_detail = @p_vvalue_integer_2,
		tabdet_value_integer_3_tbl_detail = @p_vvalue_integer_3,

		tabdet_value_decimal_1_tbl_detail = @p_vvalue_decimal_1,
		tabdet_value_decimal_2_tbl_detail = @p_vvalue_decimal_2,
		tabdet_value_decimal_3_tbl_detail = @p_vvalue_decimal_3,

		aud_state_record = @p_istate_record,
		aud_user_update=@p_iuser_aud,
		aud_date_update=GETDATE() 	 

		WHERE 
		tabdet_id_tbl_detail = @p_iid_table_detail

		END

		SELECT @p_iid_table_detail as iid_table_detail
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_HEADBOARD_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_TABLE_HEADBOARD_DELETE]
	-- Add the parameters for the stored procedure here
(
	@p_iid_table_headboard int, 
	@p_iuser_aud int =-1
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	UPDATE   [dbo].[TableHeadboard]
	SET
	aud_state_record = 0,
	aud_user_delete=@p_iuser_aud,
	aud_date_delete=GETDATE()  
	WHERE 
	tabhea_id_tbl_headboard = @p_iid_table_headboard

		SELECT @p_iid_table_headboard as iid_table_headboard;		   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_HEADBOARD_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROCEDURE [dbo].[SP_TABLE_HEADBOARD_LIST]
	(
		@p_iid_table_headboard int, 
		@p_vdescription varchar(500),
		@p_istate_record int =-1,
		@p_index int,      
		@p_limit int
	)
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT 
				tblh.tabhea_id_tbl_headboard iid_table_headboard,
				tblh.tabhea_description_tbl_headboard	 vdescription,
				tblh.aud_state_record istate_record,	
				t1.tabdet_value_text_1_tbl_detail vstate_record ,
				count(tblh.tabhea_id_tbl_headboard) OVER () AS itotal_record	 
				
		FROM  [dbo].[TableHeadboard] tblh
		left join [dbo].[TableDetail] t1 on t1.tabdet_id_detail_tbl_detail = tblh.aud_state_record and t1.tabhea_id_tbl_headboard = 1 --State Record
		where
		(tblh.tabhea_id_tbl_headboard = @p_iid_table_headboard or isnull(@p_iid_table_headboard,-1) = -1 )	
		and (ISNULL(@p_vdescription,'')='' OR tblh.tabhea_description_tbl_headboard like CONCAT('%', @p_vdescription,'%') )
		and (tblh.aud_state_record = @p_istate_record or isnull(@p_istate_record,-1) = -1 )
		and tblh.aud_state_record IN(1,2)

		ORDER BY tblh.tabhea_id_tbl_headboard asc  OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLE_HEADBOARD_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE  [dbo].[SP_TABLE_HEADBOARD_REGISTER_UPDATE]
			-- Add the parameters for the stored procedure here
		(
		@p_iid_table_headboard int, 
		@p_vdescription varchar(500),
		@p_istate_record int =-1,
		@p_iuser_aud int =-1


		)
		AS
		BEGIN
			-- SET NOCOUNT ON added to prevent extra result sets from
			-- interfering with SELECT statements.
			SET NOCOUNT ON;


		IF(@p_iid_table_headboard =0)
		BEGIN
	

			set @p_iid_table_headboard = (SELECT ISNULL(MAX(u.tabhea_id_tbl_headboard),0) FROM [dbo].[TableHeadboard] u) + 1;

			INSERT INTO [dbo].[TableHeadboard]
			(
				tabhea_id_tbl_headboard, 				
				tabhea_description_tbl_headboard, 
				aud_state_record, 
				aud_date_create, 
				aud_user_create
		
			)
			VALUES 
			(
				@p_iid_table_headboard,				
				@p_vdescription,
				@p_istate_record,
				 GETDATE() ,
				 @p_iuser_aud
				)
				
				--SELECT UPPER(@v_vcode) AS vcode,@p_iid_table_headboard as iid_table_headboard	;

			END

		ELSE
		BEGIN

		  UPDATE   [dbo].[TableHeadboard]
			SET
			tabhea_description_tbl_headboard = @p_vdescription,
			aud_state_record = @p_istate_record,
			aud_user_update=@p_iuser_aud,
			aud_date_update=GETDATE() 	 

			WHERE 
			tabhea_id_tbl_headboard = @p_iid_table_headboard

			END	   

			SELECT @p_iid_table_headboard as iid_table_headboard
		END
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_BY_PARAMETER]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_USER_BY_PARAMETER]
	-- Add the parameters for the stored procedure here
	(
		 @p_iid_user INT,
		 @v_number_document varchar(250)
	)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	u.usua_id_user				AS iid_user,
	U.usua_first_name_user		AS vfirst_name_user,
	U.usua_last_name_user		AS vlast_name_user,
	CONCAT(U.usua_first_name_user,' ', U.usua_last_name_user) as vfull_names_user,

	U.usua_phone_user			AS vphone_user	,
	U.usua_password_user		AS vpassword_user,
	U.usua_number_document_user AS vnumber_document,
	U.pfl_id_profile			AS iid_profile_user,
	p.pfl_name_profile			AS vname_profile_user

	FROM [dbo].[User] u
	INNER JOIN [dbo].[Profile] p ON u.pfl_id_profile = p.pfl_id_profile
	WHERE 
	(ISNULL(@p_iid_user,-1) = -1 OR U.usua_id_user = @p_iid_user )
		AND (ISNULL(@v_number_document,'')='' OR u.usua_number_document_user  = @v_number_document )

	AND u.aud_state_record = 1
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_DELETE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_USER_DELETE]
	-- Add the parameters for the stored procedure here
(
@p_id_user int, 
@p_iuser_aud int =-1
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
  UPDATE   [dbo].[User]
    SET
	aud_state_record = 0,
	aud_user_delete=@p_iuser_aud,
	aud_date_delete=GETDATE()  
	WHERE 
	usua_id_user = @p_id_user

	    SELECT @p_id_user as iid_user;		   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_LIST]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE   PROCEDURE [dbo].[SP_USER_LIST]
	(
	@p_id_user int, 

	@p_vfirst_name varchar(50),
	@p_vlast_name varchar(50),
	@p_vcode varchar(50),
	@p_vemail varchar(250),

	@p_itype_document int, 
	@p_inumber_document int, 

	@p_vphone varchar(250), 

	@p_idepartment int, 
	@p_iid_profile int, 

	@p_vaddress varchar(50),

	@p_istate_record int =-1,
	
	@p_index int,      
	@p_limit int

	)
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		--                    parameters.Add("@p_iid_comunity", request.iid_comunity);

		SET NOCOUNT ON;

		-- Insert statements for procedure here
		SELECT 
				u.usua_id_user iid_user,
				u.usua_code_user	 vcode,
				u.usua_first_name_user	 vfirst_name,
				u.usua_last_name_user	 as vlast_name,
				CONCAT(u.usua_first_name_user,' ',u.usua_last_name_user) as vfull_names,
				u.usua_email_user vemail,
				u.usua_number_document_user inumber_document,
				u.usua_type_document_user itype_document,
				u.usua_phone_user vphone,
				u.usua_address_user vaddress,
				u.usua_id_address_user iid_address,
				u.pfl_id_profile iid_profile,
				prfl.pfl_name_profile vname_profile,	
				u.aud_state_record istate_record,	
				td.tabdet_value_text_1_tbl_detail vstate_record,
				count(u.usua_id_user) OVER () AS itotal_record	 
		FROM [dbo].[User] u
		left join [dbo].[Profile]  prfl on prfl.pfl_id_profile = u.pfl_id_profile
		left join [dbo].[TableDetail] td on td.tabdet_id_detail_tbl_detail = u.aud_state_record and td.tabhea_id_tbl_headboard = 1 --state
		where
		(u.usua_id_user = @p_id_user or isnull(@p_id_user,-1) = -1 )	
		and (ISNULL(@p_vfirst_name,'')='' OR u.usua_first_name_user like CONCAT('%', @p_vfirst_name,'%') )
		and (ISNULL(@p_vlast_name,'')='' OR u.usua_last_name_user like CONCAT('%', @p_vlast_name,'%') )
		and (ISNULL(@p_vcode,'')='' OR u.usua_code_user like CONCAT('%', @p_vcode,'%') )
		and (ISNULL(@p_vemail,'')='' OR u.usua_email_user like CONCAT('%', @p_vemail,'%') )	
		and (u.usua_type_document_user = @p_itype_document or isnull(@p_itype_document,-1) = -1 )
		and (u.usua_number_document_user = @p_inumber_document or isnull(@p_inumber_document,-1) = -1 )
		and (ISNULL(@p_vphone,'')='' OR u.usua_phone_user like CONCAT('%', @p_vphone,'%') )	
		--and (u.usua_phone_user = @p_vphone or isnull(@p_vphone,-1) = -1 )
		and (u.usua_id_address_user = @p_idepartment or isnull(@p_idepartment,-1) = -1 )
		and (u.pfl_id_profile = @p_iid_profile or isnull(@p_iid_profile,-1) = -1 )
		
		and (ISNULL(@p_vaddress,'')='' OR u.usua_address_user like CONCAT('%', @p_vaddress,'%') )
		and (u.aud_state_record = @p_istate_record or isnull(@p_istate_record,-1) = -1 )


		ORDER BY u.usua_id_user asc  OFFSET ((@p_index)) ROWS FETCH NEXT @p_limit ROWS ONLY  
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_REGISTER_UPDATE]    Script Date: 15/10/2024 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_USER_REGISTER_UPDATE]
		-- Add the parameters for the stored procedure here
	(
	@p_id_user int, 
	@p_vfirst_name varchar(50),
	@p_vlast_name varchar(50),
	@p_iphone varchar(250), 
	@p_iid_profile int, 

	@p_istate_record int =-1,
	@p_iuser_aud int =-1
	)
	AS
	BEGIN
		SET NOCOUNT ON;

	IF(@p_id_user =0)
	BEGIN
	

		set @p_id_user = (SELECT ISNULL(MAX(u.usua_id_user),0) FROM [User] u) + 1;
		DECLARE @v_vcode VARCHAR(150) = CONCAT('USER-000',@p_id_user) ;

		INSERT INTO [dbo].[User]
		(
			usua_id_user, 
			usua_code_user, 
			usua_first_name_user, 
			usua_last_name_user, 
			pfl_id_profile, 
			usua_password_user, 		
			usua_phone_user, 	
			aud_state_record, 
			aud_date_create, 
			aud_user_create
		
		)
		VALUES 
		(
			@p_id_user,
			@v_vcode,
			@p_vfirst_name,
			@p_vlast_name,
			@p_iid_profile,
			--@p_vemail,
			UPPER(CONVERT(varchar(max), HASHBYTES ('SHA2_512','12345678') ,2)),
			@p_iphone,	
			@p_istate_record,
			GETDATE() ,
			@p_iuser_aud
			)


			SELECT @p_id_user as iid_user	;

		END

	ELSE
	BEGIN
		UPDATE   [dbo].[User]
		SET
		usua_first_name_user =@p_vfirst_name,
		usua_last_name_user =@p_vlast_name,
		pfl_id_profile = @p_iid_profile,
		usua_phone_user = @p_iphone,
		aud_state_record = @p_istate_record,
		aud_user_update=@p_iuser_aud,
		aud_date_update=GETDATE() 	 

		WHERE 
		usua_id_user = @p_id_user

			SELECT @p_id_user as iid_user
		END	   
	END
GO
USE [master]
GO
